@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Navigation bar */
*,p {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #F6ECEB;
}
li, a, button {
	font-weight: 500;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #F6ECEB;
}
.logo {
	cursor: pointer;
	height: 40px;
	width: 84.5px;
}
.nav_links {
	list-style: none;
}
.nav_links li {
	display: inline-block;
	padding: 0px 0px;
}
.nav_links li a {
	transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
	color: none;
}
button {
	padding: 9px 25px;
	background-color: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	color: #FF50A4;
}
.container {
	position: relative;
	text-align: center;
	color: white;
  }
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }


img {
	height: 99.5%;
	width: 99.5%;
	text-align: center;
}
.btn {
	text-align: left;
}


/*left bar*/
.menu {
	padding-left: 5px;
}
.menu:hover {
	color: #FF50A4;
}
.sidenav {
	height: 100%;
	width: 0;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background-color: #F6ECEB;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #FF50A4;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  /* main images */
  .greenB {
	  border-radius: 29px;
	  position: absolute;
	  height: 380px;
	  width: 380px;
	  top: 186px;
	  left: 300px;
  }
  .redB {
	  border-radius: 29px;
	  position: absolute;
	  height: 350px;
	  width: 337.22px;
	  top: 428px;
	  left: 490px;
  }
  .cryanB {
	  position: absolute;
	border-radius: 29px;
	  height: 570px;
	  width: 432px;
	  top: 122px;
	  left: 707px;
  }
  .purpleB {
	  position: absolute;
	border-radius: 29px;
	  height: 300px;
	  width: 244.46px;
	  top: 242px;
	  left: 1143px;
  }
  .blackB {
	  position: absolute;
	border-radius: 29px;
	  height: 200px;
	  width: 159.9px;
	  top: 542px;
	  left: 1391px;
  }

  
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
/* SHOP */
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8 {
	position: absolute;
	height: 311px;
	width: 245px;
	top: 129px;
	border-radius: 20px;
	background-color: #FDCAE6;
	text-align: center;
}
.bg1, .bg5 {
	left: 320px;
}
.bg2, .bg6 {
	left: 647px;
}
.bg3, .bg7 {
	left: 964px;
}
.bg4, .bg8 {
	left: 1291px;
}
.bg5 {
	top: 569px;
	left: 320px;
}
.bg6 {
	top: 569px;
}
.bg7 {
	top: 569px;
}
.bg8 {
	top: 569px;
}
.Bimg1, .Bimg2 {
	height: 200px;
	width: 162.98px;
	border-radius: 20px;
	
}
center {
	background-color: #FDCAE6;
	border-radius: 20px;
}
p {
	background-color: #FDCAE6;
}
.size {
	font-size:x-small;
}
.price {
	border-radius: 10px;
	height: 34px;
	width: 115px;
	margin-top: 10px;
	text-align: center;
	line-height: 17px;
}
.price:hover {
	color: white;
	background-color: #FF50A4;
}
.action {
	background-color: #FDCAE6;
}
/* SHOP ITEM */
.white_block {
	margin-left: 22%;
	height: 757px;
	width: 1070px;
	border-radius: 26px;
	background-color: white;
	justify-content: center;
}
.shop_img {
	height: 575px;
	width: 479px;
	background-color: transparent;
	top: 143px;
	left: 301px;
}
.info {
	position: absolute;
	top: 297px;
	left: 1020px;
	font-size: xx-large;
	background-color: transparent;
}
.size_b {
	position: absolute;
	top: 350px;
	left: 1090px;
	background-color: transparent;
}
.price_info {
	position: absolute;
	top: 500px;
	left: 1150px;
	background-color: transparent;
}
.price_value {
	position: absolute;
	top: 495px;
	left: 1090px;
	background-color: transparent;
	color: #FDCAE6;
	font-size: x-large;
}
.add_btn {
	position: absolute;
	border-radius: 28px;
	height: 86px;
	width: 369px;
	left: 990px;
	top: 650px;
}